{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form action="" method="post" class="card" enctype="multipart/form-data">
                <div class="card-header">
                    {{ request.title }}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                        {{ value|default:request.button_title|default:request.title|default:'Saqlash' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}